* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: 'Estonia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/estonia/v5/7Au_p_4ijSecA1yHOCr2z3wM.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoC1CzjvWyNL4U.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

body {
  font-size: 1.2rem;
  font-family: "Ubuntu",sans-serif;
  color: black;
  text-align: center;
}

form {
  margin: 30px;
  display: block;
  clear: both;
}

label {
  margin: 10px;
}

input {
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
}

input:hover {
  border-color: darkblue;
  -webkit-box-shadow: 2px 2px 10px darkblue;
          box-shadow: 2px 2px 10px darkblue;
}

input[type=text] {
  cursor: text;
  margin: 10px;
  height: 1.5rem;
  width: 15rem;
  font-size: 1.2rem;
  border: 3px solid black;
}

input[type=password] {
  cursor: text;
  margin: 10px;
  height: 1.5rem;
  width: 15rem;
  font-size: 1.2rem;
  border: 3px solid black;
}

input[type=date] {
  margin: 10px;
  height: 1.5rem;
  width: 15rem;
  font-size: 1.2rem;
  cursor: pointer;
  border: 3px solid black;
}

input[type=submit] {
  cursor: pointer;
  height: 1.5rem;
  width: 10rem;
  font-size: 1.2rem;
  background-color: white;
  border: 3px solid black;
}

input[type=submit]:hover {
  -webkit-box-shadow: 2px 2px 10px darkblue;
          box-shadow: 2px 2px 10px darkblue;
}

input[type=submit]:active {
  background-color: lightgrey;
}

select {
  margin: 10px;
  height: 1.5rem;
  width: 10rem;
  font-size: 1.2rem;
  cursor: pointer;
  border: 3px solid black;
}

select:hover {
  background-color: lightgrey;
}

textarea {
  margin: 10px;
  font-size: 1.2rem;
  border: 3px solid black;
  cursor: text;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
}

textarea:hover {
  border-color: darkblue;
  -webkit-box-shadow: 2px 2px 10px darkblue;
          box-shadow: 2px 2px 10px darkblue;
}

#error {
  background-color: #ff8282;
  border: 3px solid red;
  border-radius: 10px;
  margin: 2rem;
}

#acierto {
  background-color: #6dff6d;
  border: 3px solid #00f800;
  border-radius: 10px;
  margin: 2rem;
}

nav {
  clear: both;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  background-color: #bdbdbd;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

nav ul li:hover {
  color: #ff0202;
  background-color: #e2e2e2;
  border-bottom: 2px solid #ff0202;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav ul li:hover a:hover {
  color: #ff0202;
  padding: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav ul a {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.7rem;
  font-style: none;
  letter-spacing: 1px;
  color: black;
  background-color: none;
  display: block;
  text-decoration: none;
  padding: 10px;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
}

nav ul ul li {
  float: none;
  width: 170px;
}

nav ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}

nav ul li:hover > ul {
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header {
  background-color: #bdbdbd;
}

header img {
  float: left;
  height: 50px;
}

header h1 {
  font-family: "Estonia",sans-serif;
  text-align: right;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 30px;
}

table {
  width: 90%;
  table-layout: fixed;
  text-align: left;
  border: 2px solid black;
  margin: 2rem;
  font-size: 15px;
}

table thead th {
  width: 15%;
}

table th, table td {
  padding: 40px;
  width: 15%;
}

tr {
  border: 2px solid black;
}

td {
  border: 2px solid black;
}

span {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */