body{
    text-align: center;
    font-family: sans-serif;
}

header{
    margin:2rem;
}

footer{
    margin:2rem;
}



label{
    text-align: left;
    font-size: 1.5rem;
}

input{
    font-size: 1.75rem;
}

input:hover{
    background-color: lightgrey;
}

