$fuente:'Ubuntu';
$fuente_defecto:sans-serif;
$sin_decoracion:none;

body{
    padding: 0;
    margin: 0;
    font-family: $fuente,$fuente_defecto;
}

header{
    margin: 3rem;
}

.categoria{
    display: inline-block;

}

.submenu{
    display: block;
    
   
    
}

nav
{

    ul
    {
        list-style: $sin_decoracion;
        margin: 0;
        padding:0;
        float: left;
        margin:0;
        padding: 0;

        

        li
        {
            border:3px black solid;
            border-radius: 2px;
            position: relative;
            margin-top: 10px;
            

            &:hover
            {
                transition:0.5s;
                background-color: lightgray;

                >ul
                {
                    height: 180px;
                    transition: 0.5s;
                }
                
            }

        }

        a
        {
            
            text-decoration: $sin_decoracion;
            color: black;
            font-size: 20px;
            padding: 10px;
            letter-spacing: 1px;
        }

        ul
        {
            overflow: hidden;
            height: 0;
            position: absolute;
            top: 100%;
            left: 0;
            padding: 0;

            li
            {
                float: none;
                width: 130px;
            }

            a
            {
                line-height: 120%;
                padding: 10px 15px;
            }

        }
    }



}