header
{
   
    background-color: $color_menu;
    img
    {
        float: left;
        height: 50px;
    }

    h1
    {
        font-family: "Estonia",sans-serif;
        text-align: right;
        padding-top: 2rem;
        padding-right: 2rem;
        padding-bottom: 30px;
    }






}