header
{
   
    background-color: $color_menu;
    img
    {
        float: left;
        height: 300px;
    }

    h1
    {
        font-family: "Estonia",normal;
        text-align: center;
        padding-top: 4rem;
        padding-right: 3rem;
        padding-bottom: 200px;
    }






}