form
{
    margin:30px;
    display: block;
    clear: both;
   
}

label
{
    margin:10px;
}

input
{
    box-shadow: 2px 2px 10px black;
    &:hover
    {
        border-color: darkblue;
        box-shadow: 2px 2px 10px darkblue;
    }
    

}

input[type=text]
{
    cursor: text;
    margin: 10px;
    @include tamano(1.5rem,15rem);
    font-size: $texto_s;
    @include bordes(3px,solid,black);
}

input[type=password]
{
    cursor: text;
    margin: 10px;
    @include tamano(1.5rem,15rem);
    font-size: $texto_s;
    
    @include bordes(3px,solid,black);
}

input[type=date]
{
    margin: 10px;
    @include tamano(1.5rem,15rem);
    font-size: $texto_s;
    cursor: pointer;

    @include bordes(3px,solid,black);
}

input[type=submit]
{
    cursor: pointer;
    @include tamano(1.5rem,10rem);
    font-size: $texto_s;
    background-color: $blanco;
    &:hover
    {
        box-shadow: 2px 2px 10px darkblue;
        
    }
    &:active{
        background-color: $color_secundario;
    }

    @include bordes(3px,solid,black);
}

select
{
    margin: 10px;
    @include tamano(1.5rem,10rem);
    font-size: $texto_s;
    cursor:pointer;
    &:hover
    {
        background-color: $color_secundario;
    }
    @include bordes(3px,solid,black);

}
textarea
{
    margin: 10px;
    font-size: $texto_s;
    @include bordes(3px,solid,black);
    cursor: text;
    box-shadow: 2px 2px 10px black;
    &:hover
    {
        border-color: darkblue;
        box-shadow: 2px 2px 10px darkblue;
    }
}




#error
{
    
    background-color: rgb(255, 130, 130);
    @include bordes(3px,solid,red);
    border-radius: 10px;
    margin: 2rem;
    
}

#acierto
{
    
    background-color: rgb(109, 255, 109);
    @include bordes(3px,solid,rgb(0, 248, 0));
    border-radius: 10px;
    margin: 2rem;
}