table{
    width: 90%;
    table-layout: fixed;
    text-align: left;
    



    @include bordes(2px,solid,black);
    margin:2rem;
    font-size: 15px;
    thead tr{
      background-color: $color_cabecera_tabla;
    }
    tbody{
      background-color: $color_cuerpo_tabla;
    }
    thead th {
        width: 15%;
        background-color: $color_cabecera_tabla;
      }
      
      
      
      th, td {
        padding: 40px;
        width: 15%;
      }
    
}




tr{
    @include bordes(2px,solid,black)
    
}

td{
    @include bordes (2px,solid,black)
}

#paginas{
  cursor:pointer;
}

